Source: ros-hydro-zeroconf-msgs
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-std-msgs
Homepage: http://www.ros.org/wiki/zeroconf_msgs
Standards-Version: 3.9.2

Package: ros-hydro-zeroconf-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime, ros-hydro-std-msgs
Description: General ros communications used by the various zeroconf implementations.
